[submodule "hnswlib"]
	path = hnswlib
	url = https://github.com/BenjaminXiang/hnswlib.git
	branch = submodule
[submodule "SSG"]
	path = SSG
	url = https://github.com/BenjaminXiang/SSG.git
	branch = submodule
